In [5]:
import sqlalchemy as db
import psycopg2

In [6]:
from sqlalchemy import create_engine

engine = db.create_engine('postgresql://postgres:Cleocatra64!@localhost/climate_and_nocturnal_insects')
connection = engine.connect()
metadata = db.MetaData()
combined_data = db.Table('combined_data', metadata, autoload=True, autoload_with=engine)

In [7]:
print(combined_data.columns.keys())

['order_name', 'family_name', 'scientific_name', 'datetime', 'individuals', 'location_name', 'tempmax', 'tempmin', 'temp_daily', 'humidity']

In [8]:
#print table metadata
print(repr(metadata.tables['combined_data']))

Table('combined_data', MetaData(), Column('order_name', VARCHAR(), table=<combined_data>, nullable=False), Column('family_name', VARCHAR(), table=<combined_data>, nullable=False), Column('scientific_name', VARCHAR(), table=<combined_data>, nullable=False), Column('datetime', DATE(), table=<combined_data>, nullable=False), Column('individuals', INTEGER(), table=<combined_data>, nullable=False), Column('location_name', VARCHAR(), table=<combined_data>, nullable=False), Column('tempmax', DOUBLE_PRECISION(precision=53), table=<combined_data>, nullable=False), Column('tempmin', DOUBLE_PRECISION(precision=53), table=<combined_data>, nullable=False), Column('temp_daily', DOUBLE_PRECISION(precision=53), table=<combined_data>, nullable=False), Column('humidity', DOUBLE_PRECISION(precision=53), table=<combined_data>, nullable=False), schema=None)

In [9]:
insect_data = db.Table('insects', metadata, autoload=True, autoload_with=engine)
weather_data=db.Table('weather', metadata, autoload=True, autoload_with=engine)

In [10]:
print(insect_data.columns.keys())

['order_name', 'family_name', 'scientific_name', 'datetime', 'individuals']

In [11]:
print(weather_data.columns.keys())

['location_name', 'datetime', 'tempmax', 'tempmin', 'temp_daily', 'humidity']

In [12]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(db)
session = Session()

In [13]:
import pandas as pd

In [17]:
engine = db.create_engine('postgresql://postgres:Cleocatra64!@localhost/climate_and_nocturnal_insects')
with engine.connect() as conn:
    dataframe = pd.read_sql("select * from all_dates", conn)
    #dataframe.to_sql()

In [22]:
pivot_df = dataframe.pivot_table(index="datetime", columns="family_name", values="individuals")

In [23]:
pivot_df

family_name,ACROLEPIIDAE,ADELIDAE,ADERIDAE,AGONOXENIDAE,ALUCITIDAE,AMPHISBATHIDAE,ANOBIIDAE,ANTHICIDAE,ARCTIIDAE,ATTELABIDAE,...,SCRAPTIIDAE,SILPHIDAE,SPHINGIDAE,STAPHYLINIDAE,TENEBRIONIDAE,THROSCIDAE,TINEIDAE,TISCHERIIDAE,TORTRICIDAE,YPONOMEUTIDAE
datetime,,,,,,,,,,,,,,,,,,,,,
1992-06-23,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,9.789474,2.000000
1992-06-25,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,11.518519,2.833333
1992-06-28,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,1.0,NaN,2.0,NaN,11.393939,4.666667
1992-07-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,1.2,NaN,NaN,NaN,NaN,6.131579,3.181818
1992-07-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.800000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2009-08-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.571429,8.600000
2009-08-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,1.0,NaN,NaN,NaN,2.0,1.454545,11.000000
2009-08-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.333333,2.000000
2009-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.600000,1.000000
2009-09-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000

In [25]:
engine = db.create_engine('postgresql://postgres:Cleocatra64!@localhost/climate_and_nocturnal_insects')
with engine.connect() as conn:
    pivot_df.to_sql('pivot_table', engine)