In [1]:
from pathlib import Path
import pandas as pd

In [2]:
data = Path('./Resources/combined_data.csv')
df = pd.read_csv(data)
df.head()

,order_name,family_name,scientific_name,datetime,individuals,location_name,tempmax,tempmin,temp_daily,humidity
0,LEPIDOPTERA,ACROLEPIIDAE,Acrolepiopsis assectella Zell.,8/21/1994,1,"Universitetsparken 15, 2100 KÃ¸benhavn, Denmark",66.1,49.9,59.6,72.9
1,LEPIDOPTERA,ACROLEPIIDAE,Acrolepiopsis assectella Zell.,8/25/1994,1,"Universitetsparken 15, 2100 KÃ¸benhavn, Denmark",66.3,59.1,62.3,89.8
2,LEPIDOPTERA,ACROLEPIIDAE,Acrolepiopsis assectella Zell.,7/25/1996,1,"Universitetsparken 15, 2100 KÃ¸benhavn, Denmark",76.6,57.1,63.8,74.2
3,LEPIDOPTERA,ACROLEPIIDAE,Acrolepiopsis assectella Zell.,7/19/1998,1,"Universitetsparken 15, 2100 KÃ¸benhavn, Denmark",62.9,49.9,57.6,83.2
4,LEPIDOPTERA,ACROLEPIIDAE,Acrolepiopsis assectella Zell.,8/10/1999,1,"Universitetsparken 15, 2100 KÃ¸benhavn, Denmark",73.7,57.3,66.3,83.5