In [1]:
from pathlib import Path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#data = Path('./Resources/combined_data.csv')
data = Path('./Resources/CombinedTop5_chg.csv')
df = pd.read_csv(data)
df.head()

,order_name,family_name,datetime,individuals,tempmax,tempmin,temp_daily,humidity
0,COLEOPTERA,CARABIDAE,37822,2,76.9,60.9,69.9,69.9
1,COLEOPTERA,CARABIDAE,36698,3,86.0,64.1,75.6,67.5
2,COLEOPTERA,CARABIDAE,39243,1,81.7,60.4,71.9,55.4
3,COLEOPTERA,CARABIDAE,33787,1,71.2,58.8,65.5,59.2
4,COLEOPTERA,CARABIDAE,34112,1,73.3,55.2,63.3,66.8

In [3]:
# Segment the features from the target
y = df["individuals"]
#X = df.drop(columns=["order_name", "family_name", "datetime", "individuals", "tempmax","tempmin"])
X = df.drop(columns=["order_name", "family_name", "datetime", "individuals", "tempmin", "temp_daily"])

In [4]:
# Use the train_test_split function to create training and testing subsets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2, random_state=42)
X_train.shape

(24926, 2)

In [5]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators= 10, random_state= 0)
regressor.fit(X_train, y_train)

RandomForestRegressor(n_estimators=10, random_state=0)

In [6]:
y_pred = regressor.predict(X_test)

y_pred

array([4.32556133, 5.28380825, 6.28892742, ..., 2.18903579, 1.67439394,
       2.36594928])

In [7]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

-0.029707469967689137

https://stats.stackexchange.com/questions/12900/when-is-r-squared-negative

R2  compares the fit of the chosen model with that of a horizontal straight line (the null hypothesis). If the chosen model fits worse than a horizontal line, then R2 is negative. Note that R2 is not always the square of anything, so it can have a negative value without violating any rules of math. R2 is negative only when the chosen model does not follow the trend of the data, so fits worse than a horizontal line.

Example: fit data to a linear regression model constrained so that the Y intercept must equal 1500.

enter image description here

The model makes no sense at all given these data. It is clearly the wrong model, perhaps chosen by accident.

The fit of the model (a straight line constrained to go through the point (0,1500)) is worse than the fit of a horizontal line. Thus the sum-of-squares from the model (SSres) is larger than the sum-of-squares from the horizontal line (SStot).

If R2 is computed as 1âˆ’SSresSStot. (here, SSres = residual error.)
When SSres is greater than SStot, that equation could compute a negative value for R2, if the value of the coeficient is greater than 1.

With linear regression with no constraints, R2 must be positive (or zero) and equals the square of the correlation coefficient, r. A negative R2 is only possible with linear regression when either the intercept or the slope are constrained so that the "best-fit" line (given the constraint) fits worse than a horizontal line. With nonlinear regression, the R2 can be negative whenever the best-fit model (given the chosen equation, and its constraints, if any) fits the data worse than a horizontal line.

Bottom line: a negative R2 is not a mathematical impossibility or the sign of a computer bug. It simply means that the chosen model (with its constraints) fits the data really poorly.

In [8]:
from pathlib import Path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
#data = Path('./Resources/combined_data.csv')
data = Path('./Resources/topfive_coleoptera.csv')
df = pd.read_csv(data)
df.head()

,order_name,family_name,datetime,individuals,tempmax,tempmin,temp_daily,humidity
0,COLEOPTERA,CARABIDAE,2003-07-20,2,76.9,60.9,69.9,69.9
1,COLEOPTERA,CARABIDAE,2000-06-21,3,86.0,64.1,75.6,67.5
2,COLEOPTERA,CARABIDAE,2007-06-10,1,81.7,60.4,71.9,55.4
3,COLEOPTERA,CARABIDAE,1992-07-02,1,71.2,58.8,65.5,59.2
4,COLEOPTERA,CARABIDAE,1993-05-23,1,73.3,55.2,63.3,66.8

In [10]:
# Segment the features from the target
y = df["individuals"]
#X = df.drop(columns=["order_name", "family_name", "datetime", "individuals", "tempmax","tempmin"])
X = df.drop(columns=["order_name", "family_name", "datetime", "individuals", "tempmin", "temp_daily"])

In [11]:
# Use the train_test_split function to create training and testing subsets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2, random_state=42)
X_train.shape

(3125, 2)

In [12]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators= 10, random_state= 0)
regressor.fit(X_train, y_train)

RandomForestRegressor(n_estimators=10, random_state=0)

In [13]:
y_pred = regressor.predict(X_test)

y_pred

array([ 2.77074134,  2.78333333, 10.70725284,  7.63238095,  6.73333333,
        1.90396825,  1.        , 51.95371725, 10.87192818,  3.8       ,
        1.21428571,  1.2577381 ,  2.50700967,  1.        ,  1.995     ,
        3.98931796, 25.79487047, 14.51328801, 10.3869697 ,  5.44038653,
        2.15555556,  4.19925907,  2.14606643,  2.96575304,  4.1065873 ,
        3.48722222,  4.1928619 ,  1.67673351,  1.58333333,  2.93061811,
        4.06085561,  2.14606643,  4.74142857, 14.51328801,  4.45776769,
        1.        ,  1.12190476,  1.67673351, 10.70725284,  1.70634921,
        4.3972619 ,  5.52966896,  3.79528442,  9.11387013,  4.42524869,
        3.64666667,  8.70760744,  3.22357143,  1.36949815,  6.05064935,
        3.53904762, 10.70725284, 44.61980544,  6.0551274 ,  1.2577381 ,
       11.29333333,  2.77930597, 10.18246032,  3.06666667,  4.78571429,
        6.67484886,  4.16390123,  5.99698773,  4.45776769,  3.47734474,
        9.11387013,  1.95539794,  3.29786325,  2.87026144,  3.8       ,
        6.0551274 ,  1.60674603, 17.09035354,  3.98931796, 19.22067434,
        5.91238095,  1.73261905, 14.49047619,  8.78666667,  3.48722222,
        6.67484886,  3.7077381 ,  3.1       ,  1.6165633 ,  2.51666667,
        2.98333333,  5.15210933, 14.49047619,  3.61974709,  4.16390123,
        5.20647325,  2.85981424,  4.74142857,  2.39390588,  3.61666667,
       17.53809524,  2.4653083 ,  2.77930597,  5.26009053,  1.        ,
       10.70725284,  1.        ,  6.78903658,  1.        ,  3.54415085,
        6.73304107,  4.06085561,  5.26009053,  3.74555556,  1.6165633 ,
        1.70634921,  4.19925907,  3.98931796, 19.01284723, 25.79487047,
        4.42524869,  6.41112221,  6.05064935,  4.4640873 , 14.49047619,
        5.28333333, 10.4025    ,  7.37761075,  3.80333333,  1.49755245,
        5.85634921,  2.77930597,  9.29707451, 16.21053458,  1.8032906 ,
        3.66718105, 51.95371725, 11.14101232,  6.05902778,  4.4398673 ,
        1.90396825,  5.15      , 10.70725284,  2.33806903, 16.21053458,
       51.95371725,  2.50700967,  7.34825397, 17.53809524,  1.        ,
       25.79487047,  2.06837302,  2.53334827, 19.01284723,  9.21472407,
        1.44666667,  1.995     ,  7.11971898,  2.65350762,  3.79877581,
        1.12190476, 16.21053458, 16.21053458,  2.32178571,  1.425     ,
        2.65350762, 20.17851038,  1.38333333,  1.31166667,  4.78571429,
        1.76640054, 10.59575905, 44.61980544,  4.06085561, 23.99258722,
        1.39988095,  7.98214286,  4.4398673 ,  2.85981424,  1.44821429,
        7.63238095,  6.64934524,  6.73304107, 14.51328801, 10.59575905,
        2.29666667,  1.96813853, 10.70725284,  1.5       ,  1.82      ,
        4.878557  ,  4.16390123, 18.92866409,  5.11279915,  6.0551274 ,
        5.31106494,  2.99333333,  1.995     , 44.15762169,  4.74142857,
        2.53334827,  3.64666667, 17.53809524,  6.62222222,  5.44038653,
        1.5025    ,  2.96575304,  7.63238095,  5.99698773, 17.53809524,
        1.        ,  1.35457376,  6.67484886,  4.45776769,  1.8       ,
        2.63476801,  7.98214286,  1.84590077,  1.6       ,  1.19      ,
        2.4       ,  1.40690476,  5.44038653,  2.37464286,  1.        ,
        5.05585012,  3.62287356, 11.050777  ,  3.8208547 ,  4.42524869,
        1.2       , 44.15762169,  3.64666667, 51.95371725,  7.63238095,
        1.        ,  3.44362765,  7.98214286,  1.28339161,  1.33333333,
       10.59575905, 19.22067434,  1.93      ,  3.54415085,  2.77930597,
        1.43134921, 23.99258722, 11.29333333,  3.98931796,  1.60674603,
        2.33909091,  4.19925907,  5.44038653,  3.3       ,  4.74208147,
        2.40611222,  3.50239899, 14.51328801,  2.87424242,  6.64319095,
        5.85634921,  3.98931796,  1.2577381 ,  4.28333333, 10.59575905,
        1.1       ,  7.9089795 ,  7.9089795 ,  3.79924242,  1.9094697 ,
        4.64702775,  3.96428571,  1.86130952,  4.4640873 ,  4.03541676,
        5.52966896,  1.        ,  6.73304107,  5.85634921,  3.50239899,
       19.22067434,  2.58095238,  1.39988095,  2.29666667,  5.7017366 ,
        2.29375   , 51.95371725,  3.50239899,  3.68420159,  1.14595238,
       19.01284723,  4.42524869,  7.9089795 ,  1.39988095,  7.81809524,
        1.53801587,  5.31106494,  7.99285714,  2.29666667,  5.31106494,
        2.74      ,  4.69930556,  4.05041209,  2.77930597,  3.67      ,
        3.66718105,  3.02261905,  1.83666667,  1.2       ,  4.4398673 ,
        6.32      ,  2.75568182,  5.16430433,  3.98931796,  1.36205128,
        2.98333333,  2.96575304,  4.16390123,  7.0646645 ,  1.67673351,
        5.44038653,  1.995     ,  9.11387013,  1.1       ,  2.91771978,
        1.14595238,  6.21897412, 15.05833333, 44.61980544,  4.06085561,
       10.59123377,  1.35      ,  3.47734474,  1.28339161, 17.09035354,
       51.95371725,  1.67673351, 16.21053458,  4.29519536,  2.50700967,
        3.47734474,  2.29666667,  1.585     ,  4.4398673 ,  4.06085561,
        6.05902778,  1.55666667,  8.25904974,  1.16270202,  2.39390588,
        2.44451754,  3.48722222,  8.70438007,  2.44451754,  1.65619048,
        5.93333333,  4.1065873 ,  5.31106494,  2.87424242,  9.52025641,
        1.76640054,  7.99285714, 10.87192818,  2.77930597, 26.08534149,
       17.09035354,  2.98      ,  1.60674603, 16.21053458,  5.99698773,
        4.4398673 ,  2.64855072,  3.79528442,  1.39988095, 19.22067434,
        4.16390123,  8.35309524,  7.63238095,  1.485     , 14.51328801,
        1.4       ,  7.81809524,  1.67952381, 19.22067434,  2.98333333,
        1.73261905, 10.87192818,  1.53801587,  1.86130952,  3.43186203,
        3.73190476,  2.65350762,  1.14595238, 11.14101232,  3.79528442,
        3.79528442, 14.51328801,  3.88003968,  1.15      ,  3.47734474,
        3.79924242, 10.59575905,  1.86130952,  4.19925907,  2.82119048,
        6.41112221,  1.41666667, 14.51328801, 44.15762169,  3.88003968,
        9.52025641,  1.88416667,  6.21897412,  6.0551274 ,  5.11279915,
        3.44362765,  6.73304107, 26.08534149,  5.7017366 ,  2.33806903,
       18.92866409,  5.11279915,  4.05041209,  3.43186203,  3.98931796,
        2.23288961, 25.79487047,  5.63676534,  5.49189691,  6.30188374,
       10.3869697 ,  6.52273352,  2.14606643,  1.47      ,  1.64333333,
        1.8       ,  5.44038653,  1.35457376,  4.1928619 ,  4.19925907,
        1.        ,  5.59965002,  6.52273352, 14.51328801,  1.41666667,
        1.42333333,  2.4653083 , 18.92866409,  3.98931796,  4.19925907,
        2.44451754,  1.51      ,  6.30188374,  3.52206759, 11.14101232,
        5.51892094,  7.63238095,  2.04631313,  4.47154483,  1.4       ,
        2.62333333,  6.67484886,  7.60666667,  1.6165633 ,  2.77074134,
        2.87026144,  1.60588235,  1.        ,  2.14606643,  1.67673351,
        4.9173131 ,  8.70760744,  1.96813853,  1.        ,  2.11011905,
        2.14606643,  2.94730547,  1.44258065,  6.0551274 ,  3.55166667,
       25.79487047,  4.16390123,  2.46172161,  9.11387013,  7.81809524,
        1.39988095,  3.68420159,  5.20647325,  2.77074134, 10.8       ,
        3.54415085,  1.        ,  5.99698773,  2.29375   ,  2.14606643,
        4.65666667,  1.25666667,  1.        , 51.95371725, 11.050777  ,
       16.21053458, 11.050777  ,  2.19166667,  9.21472407,  5.51892094,
        3.29786325,  2.64224054, 10.18246032,  3.88003968,  2.40611222,
       20.17851038,  4.16390123,  8.70760744,  2.39390588,  1.84590077,
        1.43085555,  1.73261905,  2.04631313,  2.77930597,  4.4640873 ,
        4.16390123,  7.60666667,  2.75897871,  1.6165633 , 16.21053458,
        1.25      ,  4.74208147, 19.01284723,  1.        ,  3.88003968,
        2.29375   ,  2.87026144,  1.83892329,  3.74555556,  1.9094697 ,
       17.53809524,  4.78571429,  1.8147619 ,  4.69930556,  2.65350762,
        3.985     ,  2.50700967,  4.16390123,  6.21897412,  5.51892094,
        1.4       ,  1.19      ,  3.67      ,  8.26399041, 11.14101232,
        1.        ,  4.47154483,  3.22357143, 19.01284723,  1.60674603,
        2.06837302, 44.61980544,  2.14606643,  3.43186203,  2.85981424,
        4.69930556,  1.49641026, 10.59123377,  2.40952381,  5.7017366 ,
        3.79528442,  9.21472407,  9.52025641,  2.762886  ,  3.06178571,
        1.        , 10.70725284,  1.03846154,  1.88416667,  2.4       ,
        4.45776769,  1.        ,  2.762886  ,  1.44821429,  8.48      ,
       23.99258722,  5.52966896, 10.59575905,  3.25      ,  1.68507937,
        5.52966896,  8.48      ,  5.7017366 , 10.59575905,  7.99472721,
        2.33909091,  4.03541676,  4.19925907, 10.3869697 ,  1.40333333,
        2.77074134,  3.17361111,  3.88003968,  4.45776769,  8.70760744,
       19.22067434, 10.59575905,  1.2       ,  7.99472721,  8.70760744,
        1.        ,  5.16430433,  1.        ,  2.77074134,  2.62333333,
        2.62333333,  1.21428571,  3.90095238,  3.66718105, 44.61980544,
        4.1065873 ,  9.11387013,  6.54293337,  1.30909091,  2.75897871,
       10.8       ,  2.14606643,  2.87026144, 10.59575905,  4.64702775,
       10.87192818,  2.65350762, 10.18246032,  6.78903658,  1.8032906 ,
        3.79877581,  6.05902778, 10.59575905,  4.74142857,  7.60666667,
        6.78903658,  4.29166667,  7.34825397,  4.69930556,  9.11387013,
        4.16390123,  2.11011905, 20.46245473,  2.14606643,  2.40952381,
        1.6165633 ,  4.29519536,  2.35      ,  1.6       ,  2.75897871,
        1.30666667, 10.70725284,  3.52206759, 20.46245473,  2.85981424,
       10.59575905,  2.50700967, 16.21053458,  3.80333333,  2.85981424,
        2.475     ,  6.21897412, 23.99258722,  3.68420159,  2.762886  ,
        4.05041209,  4.47154483,  1.6165633 ,  4.16390123,  3.52206759,
        2.46363636, 14.51328801,  2.4       ,  2.72111111,  3.91666667,
        4.47154483,  9.11387013,  7.0646645 ,  2.77930597, 25.79487047,
       23.99258722,  2.37464286,  1.        ,  1.83666667,  3.47734474,
        2.87026144,  1.5025    ,  3.06341991, 17.53809524,  6.05902778,
        2.65350762,  8.70438007,  3.88003968,  1.        , 16.21053458,
        3.47734474,  3.7077381 ,  8.26399041,  5.85634921,  1.76640054,
        1.35      ,  3.25      ,  1.        ,  3.88003968,  7.98214286,
       23.99258722,  9.11387013,  3.73333333,  1.60674603,  6.0551274 ,
        1.1       ,  4.16390123,  3.73190476,  2.65350762, 44.15762169,
        2.14606643,  1.84590077, 23.99258722,  2.99531046,  3.74555556,
        2.56559524,  1.49      ,  6.54293337,  1.62833333,  8.70760744,
        1.35457376,  2.14606643, 10.87192818,  5.59809524,  3.64666667,
        2.64224054,  1.35      ,  5.05585012,  2.62571429,  2.77930597,
       34.80891775,  1.3       , 10.4025    ,  1.36949815, 26.08534149,
       34.80891775,  1.39988095,  1.58171717,  2.37      , 11.050777  ,
        5.26009053,  4.29519536,  4.29166667,  5.16430433,  2.75897871,
        3.79528442, 10.70725284,  6.32      ,  5.91238095,  7.37761075,
        7.99472721,  4.47154483,  2.762886  ,  2.44451754,  3.55166667,
        3.55166667,  6.36377178, 23.99258722, 16.21053458,  2.14606643,
       44.15762169,  2.5       ,  4.29519536,  6.0551274 ,  4.06085561,
        2.34309524,  2.46497253, 18.92866409,  6.64934524,  1.49      ,
       13.66309524,  3.88003968,  1.96813853,  9.11387013,  6.97387266,
        3.88003968,  2.98      ,  2.73333333, 12.44742424,  2.23288961,
        1.39988095,  2.29375   ])

In [14]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

-0.12200775724842217

https://stats.stackexchange.com/questions/12900/when-is-r-squared-negative

R2  compares the fit of the chosen model with that of a horizontal straight line (the null hypothesis). If the chosen model fits worse than a horizontal line, then R2 is negative. Note that R2 is not always the square of anything, so it can have a negative value without violating any rules of math. R2 is negative only when the chosen model does not follow the trend of the data, so fits worse than a horizontal line.

Example: fit data to a linear regression model constrained so that the Y intercept must equal 1500.

enter image description here

The model makes no sense at all given these data. It is clearly the wrong model, perhaps chosen by accident.

The fit of the model (a straight line constrained to go through the point (0,1500)) is worse than the fit of a horizontal line. Thus the sum-of-squares from the model (SSres) is larger than the sum-of-squares from the horizontal line (SStot).

If R2 is computed as 1âˆ’SSresSStot. (here, SSres = residual error.)
When SSres is greater than SStot, that equation could compute a negative value for R2, if the value of the coeficient is greater than 1.

With linear regression with no constraints, R2 must be positive (or zero) and equals the square of the correlation coefficient, r. A negative R2 is only possible with linear regression when either the intercept or the slope are constrained so that the "best-fit" line (given the constraint) fits worse than a horizontal line. With nonlinear regression, the R2 can be negative whenever the best-fit model (given the chosen equation, and its constraints, if any) fits the data worse than a horizontal line.

Bottom line: a negative R2 is not a mathematical impossibility or the sign of a computer bug. It simply means that the chosen model (with its constraints) fits the data really poorly.

In [15]:
from pathlib import Path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [16]:
#data = Path('./Resources/combined_data.csv')
data = Path('./Resources/topfive_lepidoptera.csv')
df = pd.read_csv(data)
df.head()

,order_name,family_name,datetime,individuals,tempmax,tempmin,temp_daily,humidity
0,LEPIDOPTERA,GEOMETRIDAE,1995-06-25,4,77.1,56.0,67.4,60.0
1,LEPIDOPTERA,GEOMETRIDAE,1995-06-27,3,69.9,57.3,63.7,54.5
2,LEPIDOPTERA,GEOMETRIDAE,2006-07-20,1,82.4,66.1,73.8,68.3
3,LEPIDOPTERA,GEOMETRIDAE,2006-06-13,1,79.6,59.9,71.1,55.6
4,LEPIDOPTERA,GEOMETRIDAE,1995-07-17,1,71.5,59.1,65.1,73.8

In [17]:
# Segment the features from the target
y = df["individuals"]
#X = df.drop(columns=["order_name", "family_name", "datetime", "individuals", "tempmax","tempmin"])
X = df.drop(columns=["order_name", "family_name", "datetime", "individuals", "tempmin", "temp_daily"])

In [18]:
# Use the train_test_split function to create training and testing subsets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2, random_state=42)
X_train.shape

(21800, 2)

In [19]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators= 10, random_state= 0)
regressor.fit(X_train, y_train)

RandomForestRegressor(n_estimators=10, random_state=0)

In [20]:
y_pred = regressor.predict(X_test)

y_pred

array([5.96450186, 4.45432123, 6.83713369, ..., 3.22919141, 4.50068853,
       7.55111917])

In [21]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

-0.018126948996319836

https://stats.stackexchange.com/questions/12900/when-is-r-squared-negative

R2  compares the fit of the chosen model with that of a horizontal straight line (the null hypothesis). If the chosen model fits worse than a horizontal line, then R2 is negative. Note that R2 is not always the square of anything, so it can have a negative value without violating any rules of math. R2 is negative only when the chosen model does not follow the trend of the data, so fits worse than a horizontal line.

Example: fit data to a linear regression model constrained so that the Y intercept must equal 1500.

enter image description here

The model makes no sense at all given these data. It is clearly the wrong model, perhaps chosen by accident.

The fit of the model (a straight line constrained to go through the point (0,1500)) is worse than the fit of a horizontal line. Thus the sum-of-squares from the model (SSres) is larger than the sum-of-squares from the horizontal line (SStot).

If R2 is computed as 1âˆ’SSresSStot. (here, SSres = residual error.)
When SSres is greater than SStot, that equation could compute a negative value for R2, if the value of the coeficient is greater than 1.

With linear regression with no constraints, R2 must be positive (or zero) and equals the square of the correlation coefficient, r. A negative R2 is only possible with linear regression when either the intercept or the slope are constrained so that the "best-fit" line (given the constraint) fits worse than a horizontal line. With nonlinear regression, the R2 can be negative whenever the best-fit model (given the chosen equation, and its constraints, if any) fits the data worse than a horizontal line.

Bottom line: a negative R2 is not a mathematical impossibility or the sign of a computer bug. It simply means that the chosen model (with its constraints) fits the data really poorly.